version: 2.1

jobs:
  build:
    macos: # Use macOS image with Xcode (adjust the version if needed)
      xcode: "16.4.0"
    resource_class: macos.m1.medium.gen1
    #resource_class: m2pro.medium
    environment:
      PATH: "/usr/local/opt/qt/bin:$PATH"
    steps:
      - checkout:  # Clone the repository
          method: blobless

      # Step 1: Install Homebrew and Qt6
      - run:
          name: Install Homebrew
          command: |
            /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - run:
          name: Install Qt6 and CMake
          command: |
            brew install qt cmake vulkan-headers
            #brew install create-dmg
            echo 'export PATH="/usr/local/opt/qt/bin:$PATH"' >> ~/.bash_profile
            source ~/.bash_profile

      # Step 2: Configure the project with CMake
      - run:
          name: Configure the build with CMake
          command: |
            mkdir build
            cd build
            cmake -DCMAKE_PREFIX_PATH=$(brew --prefix qt) ..  # Configure the project
            make  # Build the project

      # Step 3: Create the DMG package
      - run:
          name: Create the DMG package
          command: |
            mkdir -p ~/dist
            cd build
            #cmake --install . --prefix ~/dist --strip -v
            cmake --install . --prefix ~/dist --strip

      # Step 4: Create APP archive
      - run:
          name: Create APP archive
          command: |
            cd ~/dist
            tar cvzf LBChronoRace_app.tar.gz LBChronoRace.app

      # Step 5: Store the DMG package and the APP archive
      - store_artifacts:
            path: ~/dist/LBChronoRace.dmg
            destination: LBChronoRace.dmg
      - store_artifacts:
            path: ~/dist/LBChronoRace_app.tar.gz
            destination: LBChronoRace_app.tar.gz

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only:
                - macos-bundle  # Run only on pushes to this branch

