<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>LBChronoRace</Name>
    <Version>3.0.2</Version>
    <Title>LBChronoRace</Title>
    <Publisher>Lorenzo Buzzi</Publisher>
    <ProductUrl>http://github.com/flinco/LBChronoRace</ProductUrl>
    <StartMenuDir>LBChronoRace</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/LBChronoRace</TargetDir>
</Installer>
